.features-simple-block {
    font-size: 18px;
    padding: 10px 0 0 0;
    position: relative
}
.features-simple-block:after {
    background-image: url("/assets/images/separator-large.png");
    background-position: right center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: -15px;
    top: 0px;
    width: 15px
}
.features-simple-block:last-child:after {
    display: none
}
.features-simple-icon {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top, #95d5d3, #6f7eb1);
    font-size: 80px;
    margin-bottom: 30px
    position: relative;
}
.features-simple-icon:after {
  content: " ";
  position: absolute; top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#FFFFFF, rgba(255,255,255,.0));
}
.block-subtitle {
    color: #5465A2;
    font-size: 30px;
    margin: 0px 0px 15px 0px;
    padding: 0px;
    text-transform: uppercase;
}

@media (max-width: @screen-sm-min) {
    .features-simple-block {
        font-size: 14px; 
    }
    .features-simple-icon {
        font-size: 60px;
        margin-bottom: 15px;
    }
    .block-subtitle {
        font-size: 20px;
    }
}
